replicaCount: 1
image:
  repository: paynexus/api
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: ClusterIP
  port: 80
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
ingress:
  enabled: false
  host: paynexus.example
  className: ""
rbac:
  create: true
secrets:
  jwt_key: "REPLACE_ME"

