{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "paynexus.fullname" . }}-ingress
  annotations:
    kubernetes.io/ingress.class: {{ default "nginx" .Values.ingress.className }}
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "paynexus.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- end -}}
